 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Teko&display=swap');
 /* font-family: 'Josefin Sans', sans-serif;
 font-family: 'Teko', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background-color:rgb(16,0,43) ;

}

.sec{
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    

}

img{height: 30px;}

.item1{
    padding: 3px;
    color: rgb(60,9,108);
    
}

.item1:hover{
    color:whitesmoke;
}
.item2{
    padding: 3px;
    color:rgb(90,24,154) ;
    
}

.item2:hover{
    color: aliceblue;
}
.item3{
    padding: 3px;
    color:rgb(123,44,191) ;
    
}

.item3:hover{
    color: aliceblue;
}
.item4{
    padding: 3px;
    color:rgb(199,125,255) ;
    
}

.item4:hover{
    color:whitesmoke;
}

nav{
    background-color:rgb(36,0,70) ;
    
}
