@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}
header section {
  background-color: rgb(16, 0, 43);
}

.sec {
  height: 60px;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
}

img {
  height: 30px;
}

.item1 {
  padding: 3px;
  color: rgb(60, 9, 108);
}

.item1:hover {
  color: whitesmoke;
}

.item2 {
  padding: 3px;
  color: rgb(90, 24, 154);
}

.item2:hover {
  color: aliceblue;
}

.item3 {
  padding: 3px;
  color: rgb(123, 44, 191);
}

.item3:hover {
  color: aliceblue;
}

.item4 {
  padding: 3px;
  color: rgb(199, 125, 255);
}

.item4:hover {
  color: whitesmoke;
}

nav {
  background-color: rgb(36, 0, 70);
  color: white;
}

.container-fluid-h1 {
  background-color: rgb(90, 24, 154);
  color: white;
  padding: 1px;
}
.container-fluid-h1 h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 5px;
  text-shadow: 0 0 20px black;
}

.bienvenidos {
  margin-left: 10px;
  font-size: 14px;
  font-style: oblique;
}

.container-fluid-h2 {
  background-color: rgb(123, 44, 191);
  padding: 1px;
}
.container-fluid-h2 h2 {
  display: flex;
  justify-content: center;
  font-size: 22px;
  color: white;
  text-shadow: 0 0 10px rgb(16, 0, 43);
  margin-bottom: 1px;
  animation-name: aparecer;
  animation-duration: 3s;
  animation-delay: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.sets {
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 0 0 10px rgb(16, 0, 43);
}

.galeria {
  background-color: rgb(123, 44, 191);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 200px);
  height: 1200px;
}

.item {
  border: 2px solid rgb(60, 9, 108);
  background-size: cover;
  background-position: center;
}

.grid1 {
  background-image: url(images/Guy-J.webp);
}

.grid2 {
  background-image: url(images/digweed.webp);
}

.grid3 {
  background-image: url(images/hernan-cattaneo.webp);
}

.grid4 {
  background-image: url(images/mariano-mellino.webp);
}

.grid5 {
  background-image: url(images/nick-warren.webp);
}

.grid6 {
  background-image: url(images/sasha.webp);
}

.guyj, .sasha, .warren, .mariano, .hc, .digweed {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

footer {
  background-color: rgb(157, 78, 221);
  text-align: center;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 5px rgb(36, 0, 70);
  width: 100%;
  font-family: "Rubik", sans-serif;
}

.redes {
  font-size: 20px;
  letter-spacing: 5px;
}
.redes a {
  text-decoration: none;
  color: white;
}

.subir {
  height: 40px;
  width: 40px;
  background-color: rgb(123, 44, 191);
  color: white;
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  box-shadow: 0 0 5px white;
}

.sellos {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: white;
  text-shadow: 0 0 5px rgb(36, 0, 70);
}

main {
  background-color: rgb(16, 0, 43);
}
main article {
  border: 2px solid rgb(60, 9, 108);
}

.lost {
  background-image: url(./images/lost-found.webp);
  background-position: center;
  color: white;
  background-size: cover;
  text-shadow: 0 0 15px black;
}

.sound {
  background-image: url(./images/sound-garden.webp);
  background-position: center;
  color: white;
  background-size: cover;
  text-shadow: 0 0 15px black;
}

.anjuna {
  background-image: url(./images/anjuna.webp);
  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: 0 0 5px white;
}

.bedrock {
  background-image: url(./images/bedrock.webp);
  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: 0 0 5px white;
}

.sudbeat {
  background-image: url(./images/sudbeat-1.webp);
  background-position: center;
  background-size: cover;
  color: black;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}

.allday {
  background-image: url(./images/all-day.webp);
  background-position: center;
  background-size: cover;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}

.btn {
  background-color: rgb(123, 44, 191);
  border: 2px solid rgb(36, 0, 70);
  color: white;
}
.btn :hover {
  color: rgb(90, 24, 154);
}

.djs {
  text-align: center;
  color: white;
}

.djs:hover {
  color: rgb(157, 78, 221);
}

.card {
  border: 1px solid rgb(16, 0, 43);
  background-color: rgb(60, 9, 108);
  text-align: center;
}
.card .card-img-top {
  background-size: cover;
  background-position: center;
  height: 220px;
  border: 1px solid rgb(90, 24, 154);
}

.card-body {
  color: white;
}

.body-eventos {
  background-color: rgb(157, 78, 221);
}

.eventos {
  text-align: center;
  color: white;
}

.carousel-eventos {
  width: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.table {
  color: white;
  background-color: rgb(157, 78, 221);
}

.contacto {
  text-align: center;
  color: white;
  margin-top: 3px;
}

.form-contacto {
  color: white;
  background-color: rgb(123, 44, 191);
}

.nleft {
  background-color: rgb(123, 44, 191);
}

.nright {
  background-image: url(./images/all-day-carrousel.webp);
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 576px) and (max-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(3, 160px);
    grid-template-rows: repeat(4, 100px);
    height: 400px;
  }
  .grid1 {
    grid-column: 1/2;
    grid-row: 1/5;
  }
  .grid2 {
    grid-column: 2/3;
    grid-row: 1/5;
    background-image: url(images/digweed2.webp);
  }
  .grid3 {
    grid-column: 3/4;
    grid-row: 1/5;
  }
}/*# sourceMappingURL=Styles.css.map */