@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Teko&display=swap");
/* font-family: 'Josefin Sans', sans-serif;
 font-family: 'Teko', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* styles header inicia */
header {
  width: 100%;
}
section {
  background-color: rgb(16, 0, 43);
}

.sec {
  height: 60px;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
}

img {
  height: 30px;
}

.item1 {
  padding: 3px;
  color: rgb(60, 9, 108);
}

.item1:hover {
  color: whitesmoke;
}
.item2 {
  padding: 3px;
  color: rgb(90, 24, 154);
}

.item2:hover {
  color: aliceblue;
}
.item3 {
  padding: 3px;
  color: rgb(123, 44, 191);
}

.item3:hover {
  color: aliceblue;
}
.item4 {
  padding: 3px;
  color: rgb(199, 125, 255);
}

.item4:hover {
  color: whitesmoke;
}

nav {
  background-color: rgb(36, 0, 70);
  color: white;
}

.container-fluid-h2 {
  height: 60px;
  background-color: rgb(90, 24, 154);
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 22px;
  color: white;
  text-shadow: 0 0 10px rgb(16, 0, 43);
  margin-bottom: 1px;
}

.sets {
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 0 0 10px rgb(16, 0, 43);
}
/* styles header finaliza */

/* styles main inicia */
.galeria {
  background-color: rgb(123, 44, 191);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 200px);
  height: 1200px;
}

.item {
  border: 3px solid black;
  background-size: cover;
  background-position: center;
}

.grid1 {
  background-image: url(images/Guy-J.jpg);
}
.grid2 {
  background-image: url(images/digweed.jpg);
}
.grid3 {
  background-image: url(images/hernan-cattaneo.jpg);
}
.grid4 {
  background-image: url(images/mariano-mellino.jpg);
}
.grid5 {
  background-image: url(images/nick-warren.jpg);
}
.grid6 {
  background-image: url(images/sasha.png);
}

.guyj {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
.digweed {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

.hc {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
.mariano {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
.warren {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
.sasha {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
/* styles main finaliza */
/* styles footer inicia*/
footer {
  background-color: rgb(157, 78, 221);
  text-align: center;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 5px rgb(36, 0, 70);
  width: 100%;
}

.redes {
  font-size: 25px;
  letter-spacing: 5px;
}
.redes a {
  text-decoration: none;
  color: white;
}
/* styles footer finaliza */
/* styles boton inicia */
.subir {
  height: 40px;
  width: 40px;
  background-color: rgb(123, 44, 191);
  color: white;
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
  line-height: 40px;
  font: size 20px;
  box-shadow: 0 0 5px white;
}
/* styles footer finaliza */
/* Styles Sellos inicia */
.container-fluid-h2 {
  height: 60px;
  background-color: rgb(90, 24, 154);
}

.sellos {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: white;
  text-shadow: 0 0 5px rgb(36, 0, 70);
}

main {
  background-color: rgb(16, 0, 43);
}
article {
  border: 3px solid black;
}

.lost {
  background-image: url(./images/lost-found.jpg);
  background-position: center;
  color: white;
  background-size: cover;
  text-shadow: 0 0 15px black;
}

.sound {
  background-image: url(./images/sound-garden.png);
  background-position: center;
  color: white;
  background-size: cover;

  text-shadow: 0 0 15px black;
}
.anjuna {
  background-image: url(./images/anjuna.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: 0 0 5px white;
}
.bedrock {
  background-image: url(./images/bedrock.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: 0 0 5px white;
}
.sudbeat {
  background-image: url(./images/sudbeat-1.jpg);
  background-position: center;
  background-size: cover;
  color: black;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}
.allday {
  background-image: url(./images/all-day.png);
  background-position: center;
  background-size: cover;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}

.btn {
  background-color: rgb(123, 44, 191);
  border: 2px solid rgb(36, 0, 70);
  color: white;
}

.btn :hover {
  color: rgb(16, 0, 43);
}

/* Styles Sellos Finaliza */
/* Styles DJS inicia */
.djs {
  text-align: center;
  color: white;
}

.djs:hover {
  color: rgb(157, 78, 221);
}

.card {
  border: 1px solid rgb(16, 0, 43);
  background-color: rgb(60, 9, 108);
  text-align: center;
}
.card-img-top {
  background-size: cover;
  background-position: center;
  height: 150px;
  border: 1px solid rgb(16, 0, 43);
}
.card-body {
  color: white;
}
/* Styles DJS Finaliza */
/* Styles proximos-eventos inicia */
.eventos {
  text-align: center;
  color: white;
}

.table {
  color: white;
  background-color: rgb(157, 78, 221);

}
.carousel-eventos {
  width: 100%;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.main-eventos{
  background-color: rgb(157, 78, 221);
}
/* Styles proximos-eventos Finaliza */
/* Styles informacion inicia */

/* Styles proximos-eventos Finaliza */

/* inician las @media */
@media only screen and (min-width: 576px) and (max-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 200px);
    height: 600px;
  }

  .grid1 {
    grid-column: 1/2;
    grid-row: 1/4;
  }
  .grid2 {
    grid-column: 2/3;
    grid-row: 1/4;
    background-image: url(images/digweed2.jpg);
  }
  .grid3 {
    grid-column: 3/4;
    grid-row: 1/4;
  }
  .grid4 {
    grid-column: 4/5;
    grid-row: 1/4;
  }
  .grid5 {
    grid-column: 5/6;
    grid-row: 1/4;
  }
  .grid6 {
    grid-column: 6/7;
    grid-row: 1/4;
  }

  .guyj {
    margin-top: 40vh;
  }

  .digweed {
    margin-top: 40vh;
  }

  .hc {
    margin-top: 40vh;
  }

  .mariano {
    margin-top: 40vh;
  }

  .warren {
    margin-top: 40vh;
  }

  .sasha {
    margin-top: 40vh;
  }
}

@media only screen and (max-width: 576px) {
  .card-img-top {
    height: 220px;
  }
}
@media only screen and (min-width: 1024px) {
.carousel-inner{
  height: 80vh;

}

}
