@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&family=Rubik:wght@300&display=swap");
// font-family: 'Rajdhani', sans-serif;
// font-family: 'Rubik', sans-serif;
$colors: "colores";
$color1: rgb(16, 0, 43);
$color2: rgb(36, 0, 70);
$color3: rgb(60, 9, 108);
$color4: rgb(90, 24, 154);
$color5: rgb(123, 44, 191);
$color6: rgb(157, 78, 221);
$color7: rgb(199, 125, 255);
$color8: rgb(224, 170, 255);

$sizes: "tamaños";
$size1: 20px;
$size2: 40px;
$size3: 60px;
$size4: 80px;
$size5: 100px;

$fonts: "fuentes";
$font1: "Rajdhani", sans-serif;
$font2: "Rubik", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Styles header inicia
header {
  width: 100%;
  section {
    background-color: $color1;
  }
}
.sec {
  height: $size3;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 25px;
}

.item1 {
  padding: 3px;
  color: $color5;
}
.item1:hover {
  color: whitesmoke;
}
.item2 {
  padding: 3px;
  color: $color6;
}
.item2:hover {
  color: aliceblue;
}
.item3 {
  padding: 3px;
  color: $color7;
}
.item3:hover {
  color: aliceblue;
}
.item4 {
  padding: 3px;
  color: $color8;
}
.item4:hover {
  color: whitesmoke;
}
img {
  height: 30px;
}
nav {
  background-color: $color2;
  color: white;
}
// Styles header finaliza
// Styles index inicia
.container-fluid-h1 {
  background-color: $color4;
  color: white;
  padding: 1px;
  h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 5px;
    text-shadow: 0 0 20px black;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  @keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.bienvenidos {
  margin-left: 10px;
  font-size: 14px;
  font-style: oblique;
}
.container-fluid-h2 {
  height: $size4;
  background-color: $color5;
  h2 {
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: white;
    text-shadow: 0 0 10px $color1;
    margin-bottom: 1px;
  }
}
.mejores {
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 0 0 10px $color1;
}

.sets {
  color: white;
  background-image: linear-gradient(to top left, $color1, $color3, $color5);
  text-shadow: 0 0 7px $color2;
  border: 2px solid $color3;
  h3 {
    font-size: $size1;
    text-align: center;
    margin-left: 10px;
    p {
      font-size: 13px;
      padding-left: 10px;
    }
  }
}
.youtube1 {
  width: 250px;
  border: 1px solid $color3;
}
.guyj {
  display: flex;
  justify-content: center;
  background-image: url(images/Guy-J.webp);
  background-size: cover;
  background-position: center;
  object-fit: cover;
  border: 2px solid $color3;
}
.digweed {
  @extend .guyj;
  background-image: url(images/digweed.webp);
}
.hc {
  @extend .guyj;
  background-image: url(images/hernan-cattaneo.webp);
}
.mariano {
  @extend .guyj;
  background-image: url(images/mariano-mellino.webp);
}
.warren {
  @extend .guyj;
  background-image: url(images/sound-garden2.webp);
}
.sasha {
  @extend .guyj;
  background-image: url(images/sasha.webp);
}
// Styles index finaliza
// Styles footer inicia
footer {
  background-color: $color6;
  text-align: center;
  font-size: $size1;
  color: white;
  text-shadow: 0 0 5px $color2;
  width: 100%;
  font-family: $font2;
  padding: 10px;
}

.redes {
  font-size: $size1;
  letter-spacing: 5px;
  a {
    text-decoration: none;
    color: white;
  }
}
// Styles boton inicia
.subir {
  height: $size2;
  width: $size2;
  background-color: $color5;
  color: white;
  position: fixed;
  bottom: $size2;
  right: $size2;
  text-align: center;
  line-height: $size2;
  font-size: $size1;
  box-shadow: 0 0 5px white;
}
// Styles footer finaliza
// Styles sellos inicia
.sellos {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: white;
  text-shadow: 0 0 5px $color2;
}
.media-sellos{
  padding: 6px;
}
main {
  background-color: $color1;
  article {
    border: 2px solid $color3;
  }
}
.lost {
  background-image: url(./images/lost-found.webp);
  background-position: center;
  color: white;
  background-size: cover;
  text-shadow: 0 0 15px black;
}

.sound {
  background-image: url(./images/sound-garden.webp);
  background-position: center;
  color: white;
  background-size: cover;

  text-shadow: 0 0 15px black;
}
.anjuna {
  background-image: url(./images/anjuna.webp);
  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: 0 0 5px white;
}
.bedrock {
  background-image: url(./images/bedrock2.webp);
  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: 0 0 5px white;
}
.sudbeat {
  background-image: url(./images/sudbeat-1.webp);
  background-position: center;
  background-size: cover;
  color: black;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}
.allday {
  background-image: url(./images/all-day.webp);
  background-position: center;
  background-size: cover;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}
.btn {
  background-color: $color5;
  border: 2px solid $color2;
  color: white;

  :hover {
    color: $color4;
  }
}
// Styles sellos finaliza
// Styles DJS inicia
.djs {
  text-align: center;
  color: white;
}

.card {
  border: 1px solid $color1;
  background-color: $color3;
  text-align: center;
  .card-img-top {
    background-size: cover;
    background-position: center;
    height: 220px;
    border: 1px solid $color4;
  }
}
.card-body {
  color: white;
}
// Styles DJS finaliza
// Styles proximos eventos inicia
.eventos {
  text-align: center;
  color: white;
}
.carousel-eventos {
  width: 100%;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.table {
  color: white;
  background-color: $color6;
  font-size: 14px;
}
// Styles proximos eventos finaliza
// Styles contacto inicia
.contacto {
  text-align: center;
  color: white;
  margin-top: 3px;
}

.form-contacto {
  color: white;
  background-color: $color7;
  padding: 7px;
}
.nleft {
  background-color: $color5;
}
.nright {
  background-image: url(./images/all-day-carrousel.webp);
  background-size: cover;
  background-position: center;
}

// Styles contacto finaliza
// Comienzan las @media
@media only screen and (max-width: 576px){
  .container-fluid-h1{
    background-color: $color6;
  }
  .table{
    font-size:10px;
  }

}
@media only screen and (min-width: 576px) {
  .container-fluid-h2 {
    height: $size3;
  }
}
@media only screen and (min-width: 576px) and (max-width: 990px) {
  .youtube1 {
    height: 120px;
    width: 130px;
    margin-top: 35px;
  }
}
@media only screen and (min-width: 1000px) {
  .media-sellos {
    height: 300px;
    h4 {
      font-size: $size2;
      display: flex;
      justify-content: center;
    }
    p {
      font-size: 20px;
    }
  }
}
